<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head>
        <title>Magic Match Tracking</title>
        <link rel="stylesheet" th:href="@{stylesheets/style.css}" />
    </head>

    <body>
        <header>
            <h1>Log Your Match</h1>
        </header>

        <main>
            <form method="POST" th:object="${logmatch}">
                <div class="tile">
                    <h3>Players</h3>
                    <div th:each="player : ${players}">
                        <span th:text="${player.username}">PLAYER</span>
                        <input name="players" type="text" />
                    </div>
                </div>
                <div class="tile">
                    <h3>Format</h3>
                    <div th:each="format : ${formats}">
                        <input name="formats" type="radio" th:value="${format.id}" />
                        <span th:text="${format.name}">FORMAT</span><br />
                    </div>
                </div>

                <div class="tile">
                    <button>Submit</button>
                </div>
            </form>
        </main>

        <footer>

        </footer>
    </body>

</html>